.card {
  background: rgba(217, 217, 217, 0.3);
  border-radius: 15px;
  overflow: hidden;
  height: 25%;
  margin: 1rem 4rem;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
  cursor: pointer;
}

.opened_card {
  border-radius: 15px;
  cursor: pointer;
  height: calc(100% - 10rem);
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
  width: 90%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .opened_card {
    height: calc(100% - 5rem); /* Adjust height for smaller screens */
  }
}
