.header-text {
  background: transparent;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  outline: none;
  padding: 0;
  text-align: left;
  -webkit-text-decoration: none;
  text-decoration: none;
  vertical-align: baseline;
  z-index: auto;
}

.tab_label {
  text-transform: uppercase;
  border: 2px solid #34444c;
  background: #fff;
  box-shadow: -4px -4px 0 #34444c;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}

.front_card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fff;
  color: #333;
}
.back_card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: #333;
  transform: rotateY(180deg);
}

.back_button {
  visibility: visible;
  box-sizing: border-box;
  font-family: inherit;
  appearance: none;
  cursor: pointer;
  height: 43px;
  line-height: 1;

  padding: 0 10px;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease;
  user-select: none;
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  font-weight: 700;
  font-size: 0.937rem;
  text-transform: uppercase;
  border: 1px solid #34444c;
  background: #fff;
  box-shadow: 3px 3px 0 #34444c;
  border-radius: 0;
  color: inherit;
}

.back_button:hover {
  background-color: #34444c; /* Change the background color on hover */
  color: #fff; /* Change the text color on hover */
  box-shadow: none; /* Remove the box shadow on hover */
  transform: translate(-3px, -3px);
}
