.plan_table_container {
  max-height: 60%;
  height: 60%;
  background-color: #fff;
  overflow: scroll;
  overflow: overlay;
  padding-bottom: 2rem;
}
.plan_table_container::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

.plan_table_container::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 6px; /* Set the border radius of the thumb */
}

.plan_table_container::-webkit-scrollbar-track {
  background: #f3f3f3; /* Set the color of the scrollbar track */
}

.plan_table {
  width: 100%;
  max-height: 100%;
  border-collapse: collapse; /* Remove the space between bordering cells */
  font-size: 12px;
}

.plan_table th,
td {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: left;
}

.plan_table th {
  position: sticky;
  top: 0;
  background-color: var(--heavy-color);
  color: white;
  border-top: 0;
}

.plan_table th:first-child {
  width: 50%;
}

.plan_table th:nth-child(2),
.plan_table th:nth-child(3) {
  width: 25%;
}

.plan_table th {
  border: none; /* Remove left border for the th elements except the first one */
}

.plan_table thead {
  background-color: var(--second-color);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.plan_table tbody td {
  border-right: none; /* Remove right border for all td elements in the tbody */
  border-left: none; /* Remove left border for all td elements in the tbody */
  margin-bottom: 2rem;
}
.tag {
  border-left: 0.2rem solid #ff0000; /* Red color border on the left side */
  height: 1.5rem;
}

.dropdown {
  font-size: 0.5rem;
  border-radius: 0.7rem;
  width: 80%;
  cursor: pointer;
}

.code {
  display: flex;
  align-self: center;
}

.animate {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Chrome and Safari */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
}
